# /etc/ssh/sshd_config
Port 2222
Protocol 2

SyslogFacility AUTH
LogLevel DEBUG

LoginGraceTime 120
PermitRootLogin yes

PubkeyAuthentication yes

AuthenticationMethods keyboard-interactive

PermitEmptyPasswords no

ChallengeResponseAuthentication yes

PasswordAuthentication yes

X11Forwarding yes
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes

AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server

UsePAM yes

ForceCommand /bin/runContainer.sh
#Match Group medium
#	ChrootDirectory /users/medium/%u/

#Match Group basic
#	ChrootDirectory /users/basic/%u/

#Match Group advanced
#	ChrootDirectory /users/advanced/%u/

#Match Group datastore
#	ChrootDirectory /users/datastore/%u/

#Match Group visitor
#	ChrootDirectory /users/visitor/%u/
